.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(218, 218, 218);
  box-shadow: 1px 5px 5px rgba(23, 95, 230, 0.03);
  z-index: 99;
}

.left-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-header-container {
  display: flex;
  align-items: center;
}

.right-header-container {
  display: flex;
  align-items: center;
}

.logo-header {
  display: flex;
  margin-left: 30px;
  height: 40px;
}

@media (max-width: 1440px) {
  .logo-header {
    height: 40px;
  }
}

@media (max-width: 1024px) {
  .logo-header {
    height: 35px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .logo-header {
    height: 30px;
  }
}

.logo-header:hover {
  cursor: pointer;
}

.middle-header-container {
  display: flex;
  align-items: center
}

@media (max-width: 793px) {
  .middle-header-container {
    display: none;
  }
}

.menu {
  color:rgb(11, 2, 77);
  padding: 0 30px;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

@media (min-width: 793px) and (max-width: 1023px) {
  .menu {
    padding: 0 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .menu {
    padding: 0 15px;
  }
}

@media (max-width: 1440px) {
  .menu {
    padding: 0 30px;
  }
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu:hover {
  color: rgb(255, 200, 0);
  cursor: pointer;
}

.search-bar {
  flex: 1;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(218, 218, 218);
  box-shadow: inset 1px 5px 3px rgba(0,0,0,0.03);
}

@media (max-width: 793px) {
  .search-bar, .contact-button-header {
    display: none;
  }
}

.search-bar::placeholder {
  padding-left: 10px;
  font-family: overpass;
  font-size: 16px;
}


.contact-button-header {
  background-color: rgb(11, 2, 77);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 30px;
  padding: 7px 20px;
  font-weight: 500;
}

.contact-button-header:hover {
  box-shadow: 3px 3px 10px rgb(255, 200, 0) ;
}