
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
  column-gap: 20px;
  vertical-align: top;
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

.about-title, .number-about {
  font-family: overpass;
  font-size: clamp(1rem, 7vw, 5rem);
  color: rgb(11, 2, 77);
  font-weight: bold;
  line-height: 0.9;
}

.about-description {
  font-family: overpass;
  font-size: clamp(16px, 2vw, 5rem);
  color: rgb(11, 2, 77);
}

.about-small {
  font-family: overpass;
  font-size: clamp(1rem, 1vw, 5rem);
  font-weight: bold;
  color: rgb(11, 2, 77);
  margin-top: 15px;
}

.content-container {
  margin: 0 30px;
}

.about-content-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
  vertical-align: top;
}

.about-content-title {
  font-family: overpass;
  font-size: clamp(1rem, 2vw, 5rem);
  font-weight: bold;
  color: rgb(11, 2, 77);
  padding-left: 20px;
}

.about-content-description {
  font-family: overpass;
  font-size: clamp(12px, 1.4vw, 2rem);
  color: rgb(11, 2, 77);
}

.number-about {
  justify-self: right;
  padding-right: 20px;
  color: rgb(228, 110, 20);
}