@import url('arunika.css');
@import url('arunika-portfolio.css');
@import url('arunika-blog.css');
@import url('arunika-footer.css');
@import url('arunika-header.css');
@import url('arunika-about.css');
@import url('portfolio-2.css');


:root {
  --primary-color: rgb(11, 2, 77);
  --secondary-color: rgb(228, 110, 20);
  --tertiary-color: rgb(255, 149, 0);
  --fontsize-content: clamp(12px, 1.7vw, 1.2rem);
  --fontsize-h1: clamp(4rem, 8vw, 12rem);
  --fontsize-h2: clamp(2rem, 8vw, 5rem);
  --fontsize-h3: clamp(1rem, 1.7vw, 3rem);
  --fontsize-h4: clamp(16px, 2vw, 1.2rem);
  --fontsize-h5: clamp(14px, 2vw, 1.3rem);
  --fontsize-h6: clamp(13px, 2vw, 1.3rem);
  --fontsize-h7: clamp(12px, 1vw, 1.3rem);
  --fontsize-h8: clamp(12px, 2vw, 1.3rem);
  --fontsize-h9: clamp(12px, 2vw, 1.3rem);
  --font-project-category: clamp(12px, 1.7vw, 1rem);
}

html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: overpass;
  font-size: 16px;  
  padding-top: 120px;
  position: relative;
  overflow-x: hidden;
  //background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

