* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: oswald, overpass;
  font-size: 16px;  
  padding-top: 120px;
  position: relative;
}

